body {
    padding: 10px;
}

.form-control {
  max-width: 620px ;
}

.card-title a {
    text-decoration: none;
    color: inherit;
}

.cls-dlt-btn {
  width: 190px; /* override Bootstrap */
  text-align: center;      /* optional, center text */
}